<p>home works!</p>
<div> <a routerLink="/flights"> <img src="../../assets/images/photo1.jpg"></a> </div>
<div> <a routerLink="/flights"> <img src="../../assets/images/photo3.jpg"></a> </div>
<div> <a routerLink="/flights"> <img src="../../assets/images/photo2.webp"></a> </div>
<div> <a routerLink="/flights"> <img src="../../assets/images/photo4.jpg"></a> </div>
Avec Expedia, trouvez des vols qui vous emmèneront vers les destinations
les plus populaires aux plus bas prix qui puissent exister.

<!-- <div> <a routerLink="/hotels"> <img src="../../assets/images/hotel1.webp"></a> </div> -->

