<div class="split left">
  <div class="centered">
    <h1>Connectez-vous</h1>
    <form action="" method="get" class="form-example">
      <div class="form-example">
        <label for="emailLogin">Email: </label><br>
        <input type="email" name="email" id="emailLogin" required>
      </div>

      <div class="form-example">
        <label for="passwordLogin">Password: </label><br>
        <input type="password" name="password" id="passwordLogin" required>
      </div>

      <div class="form-example">
        <input type="submit" value="Login">
      </div>
    </form>
  </div>
</div>

<div class="split right">
  <div class="centered">
    <h1>Créez un compte</h1>
    <form action="" method="get" class="form-example">
      <div class="form-example">
        <label for="emailCreateAccount">Email: </label><br>
        <input type="email" name="email" id="emailCreateAccount" required>
      </div>

      <div class="form-example">
        <label for="prenom">Prenom: </label><br>
        <input type="text" name="prenom" id="prenom" required>
      </div>

      <div class="form-example">
        <label for="nom">Nom: </label><br>
        <input type="text" name="nom" id="nom" required>
      </div>

      <div class="form-example">
        <label for="passwordCreateAccount">Password: </label><br>
        <input type="password" name="password" id="passwordCreateAccount" required>
      </div>

      <div class="form-example">
        <input type="submit" value="Login">
      </div>
    </form>
  </div>
</div>
