<mat-toolbar color="black">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div id="logo_div">
    <a href="" > <img id="logo" src="../../assets/images/logo_expe.png"/> </a>
  </div>

  <div id="nav_bar" fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <a routerLink="/flights">Flights</a>
    <a routerLink="/hotels">Hôtels</a>
    <a routerLink="/voitures">Voitures</a>
    <a routerLink="/activites">Activités</a>
  </div>

  <div id="user_navbar">
    <a routerLink="/user"> <img id="user_icon" src="../../assets/images/user_icon.png"/> </a>
  </div>
</mat-toolbar>
