a {
  text-decoration: none;
  padding: 25px;
}
a:hover, a:active{
  color: #000a92;
}

.navigation-items{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

mat-toolbar{
  margin-top: 10px;
  background-color: #ffffff;
  color: #343c52;
  border-radius: 10px;
  border-bottom: #343c52 solid 1px;
}

@media(max-width: 959px){
  mat-toolbar{
    border-radius: 0px;
  }
}
