<div class="main" color="primary">
  <div id="logo_div">
    <a href="" > <img id="logo" src="../../assets/images/logo_expe.png" alt="logo"/> </a>
  </div>

<!--  <p>footer works!</p>-->

<!--  <div id="nav_bar" fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>-->
<!--    <a routerLink="/flights">Vols</a>-->
<!--    <a routerLink="/hotels">Hôtels</a>-->
<!--    <a routerLink="/voitures">Voitures</a>-->
<!--    <a routerLink="/activites">Activités</a>-->
<!--  </div>-->

  <div id="legal_txt">
    <p> Parmi les moyens de paiement acceptés sur eXPeDiA.fR figurent : carte bleu, NFT, don d'organes, cartes pokémon, billets monopoly, VBucks, lootboxes et PayPal. </p>
    <p> exPEdiA Inc n'est pas responsable du contenu de ce site Web. </p>
    <p> © 2022 ExpEdIa, Inc., une entreprise d’exPEdia Group. Tous droits réservés. EXPedIA et le logo de l’avion sont des marques déposées ou des marques commerciales d’exPedIA, Inc. </p>
  </div>
</div>

