.main{
  z-index: 1;
  bottom: 0;
  position: absolute;
  width: 100%;
  color: green;
  border-top: black solid 1px;
  font: 500 20px/32px Roboto,"Helvetica Neue", sans-serif;
  display: flex;
}

#legal_txt{
  margin: 12px auto auto;
  text-align: center;
  color: #000a92;
}

#logo_div{
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 30px;
}
